.modal-window {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    .modal-window-background {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #000;
        opacity: 0.7;
        width: 100%;
        height: 100%;
    }

    .modal-window-body {
        background-color: #ddd;
        width: 365px;
        height: auto;
        margin: auto;
        top: calc(50% - 300px);
        min-height: 100px;
        position: relative;

        .owner-radio {
            display: flex;
            width: 100%;
            
            .owner-button {
                filter: grayscale(100%);
                box-sizing: border-box;
                cursor: pointer;
                transition: filter 500ms;
                width: 50%;
                text-align: left;
                padding: 5px 10px;
                height: 50px;
                line-height: 50px;
                background-color: #eee;
                color: black;
                display: flex;
                align-items:center;
                font-size:15px;
    
                &:hover {
                    box-sizing: border-box;
                    filter: grayscale(80%);
                }
                &.selected {
                    border: 1px solid #049ce4;
                    background-color: #fff;
                    filter: grayscale(0%);
                    color: #049ce4;
                }

                .owner-image {
                    height: 100%;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
        }
    }
}