.card {
    margin: 5px;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 20px;
    border-radius: 2px;

    .card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 8px;

        .owner-image {
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }

        .card-header__navigation {
            display: flex;
            flex-direction: row;

            .card-header__navigation-icon {
                cursor: pointer;
                padding: 5px;
                margin: 0 3px;

                svg {
                    height: 15px;
                    width: 15px;
                }
            }

            .edit-card {
                &:hover {
                    fill: #0171bd;
                }
            }

            .delete-card {
                &:hover {
                    fill: #ce1313;
                }
            }
        }
    }

    .card-body {
        padding: 10px;
        font-size: 14px;
        margin-top: 10px;
        text-align: left;
        background-color: #eee;
    }

    footer {
        text-align: left;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        margin-top: 12px;

        time {
            font-weight: 500;
        }
    }

    &.owner-lesha {
        border-top: 6px solid #007eff;
    }

    &.owner-liza {
        border-top: 6px solid #e80ca5;
    }
}