.card {
    margin: 5px;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 20px;
    border-radius: 2px;

    .card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 8px;

        .owner-image {
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }

        .card-header__navigation {
            display: flex;
            flex-direction: row;

            .edit-card {
                line-height: 35px;
                margin: 0 8px;
                cursor: pointer;

                &:hover {
                    fill: #00bcff;
                }

                svg {
                    height: 15px;
                    width: 15px;
                }
            }

            .delete-card {
                font-size: 20px;
                cursor: pointer;
                padding: 5px;

                &:hover {
                    color: #ce1313;
                }
            }
        }
    }

    .card-body {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #333;
        font-size: 14px;
    }

    &.owner-lesha {
        border-top: 6px solid #007eff;
    }

    &.owner-liza {
        border-top: 6px solid #e80ca5;
    }
}