.board {
    display: flex;
    flex-direction: column;

    .board-header {
        display:flex;
        flex-direction: column;
        margin-bottom: 10px;
        border-bottom: 1px dashed #333;
        padding: 15px;

        .add-task {
            cursor: pointer;
            background-color: #616161;
            margin-top: 10px;
            &:hover {
                color: #18c718;
            }
        }
    }

    .droppable {
        width: 200px;
        min-height: 400px;
        border: 1px solid black;
        margin: 5px;
    }
}
