.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.basic-element {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

label {
  color: #333;
  font-size: 14px;
  text-align: left;
  margin-bottom: 4px;
}

.input-basic {
  border: none;
  height: 21px;
  outline: none;
  padding: 4px;
  border-radius: 2px;
  font-size: 14px;
}

.button-basic {
  min-height: 21px;
  padding: 8px;
  font-size: 12px;
  border: none;
  margin-left: 8px;
  cursor:pointer;
  border-radius: 2px;
  &:hover {
      background-color: #ececec;
  }
  &:focus {
      outline: none;
  }
}

.button-brand {
  min-height: 21px;
  padding: 8px;
  font-size: 12px;
  border: none;
  margin-left: 8px;
  border-radius: 2px;
  cursor:pointer;
  background-color: #7fcc7f;
  &:hover {
      background-color: #4d984d;
  }
  &:focus {
      outline: none;
  }
}

.footer-basic {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

ul {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
